{% extends "layout.html" %}

{% block title %}
    <title>Admin</title>
{% endblock  %}

{% block body %}
    <div id="admin-container">
        <p>Solo para admin y para agregar los recordatorios de support al reminders</p>
        <form action="/admin">
            <label>
                <input type="date" name="date">
                <input type="text" name="letters" placeholder="Letras" autocomplete="off">
            </label>
            <button type="submit">Guardar</button>
        </form>
    </div>
{% endblock  %}