{% extends "layout.html" %}

{% block title %}
    <title>Edad de Oro</title>
{% endblock %}

{% block body %}
    <main>
        <section id="container-sentence">
            <div id="sentence">
                <p>"La vejez es el momento en que se comprende que el tiempo es limitado, pero que la vida no lo es"</p>
                <span>Gabriel García Márquez</span>
            </div>
            <div><i class="fa-solid fa-chevron-up fa-fade" style="color: #c99e26;"></i></div>
        </section>
        <section id="sobre-nosotros">
        
        </section>
    </main>
{% endblock %}