{% extends "layout.html" %}

{% block title %}
    <title>Edad de Oro</title>
{% endblock %}

{% block body %}
    <main>
        <section id="container-sentence">
            <div id="sentence">
                <p>"La vejez es el momento en que se comprende que el tiempo es limitado, pero que la vida no lo es"</p>
                <span style="color: var(--black-light); font-style: italic;">- Gabriel García Márquez</span>
            </div>
            <div><i class="fa-solid fa-chevron-up fa-fade" style="color: var(--black);"></i></div>
        </section>
        <div id="division"></div>
        <section id="container-about">
            <div id="grid-container">
                <div class="about-sections" id="function1">
                    <h2>No olvides nada!</h2>
                    <p>
                        En Edad de Oro encontraras un apartado para ayudarte a 
                        no olvidar tus citas o medicamentos!                
                    </p>
                </div>
                <div class="about-sections" id="function2">
                    <h2>Mantente informado!</h2>
                    <p>
                        No caigas en Fake news ya que en Edad de Oro encontraras las 
                        noticas de actualidad mas confiables sobre salud.
                    </p>
                </div>
                <div class="about-sections" id="function3">
                    <h2>No pierdas tus apoyos economicos!</h2>
                    <p>
                        Si vives en Mexico puedes acceder a este apartado que te ayudara
                        a saber cuando sera la entrega del apoyo economico que brinda el gobierno, ya no tendras que
                        buscar o preguntar, solo tendras que ingresar aqui!
                    </p>
                </div>
            </div>
        </section>
        <div id="division"></div>
        <section id="container-news">
            <div id="news-description">
                <h2>Aqui encontraras las noticias mas relevantes del dia.</h2>
                <p>
                    En nuestra sección de noticias de salud, ofrecemos lo último en avances médicos y bienestar. 
                    Actualizamos constantemente esta sección con descubrimientos científicos y consejos prácticos. 
                    Encuentren artículos, investigaciones y noticias recientes para estar al día en salud. 
                    Queremos ser su fuente confiable de información para decisiones informadas y una vida saludable.
                </p>
                <a class="more" href="/noticias">Mas noticias! >></a>
            </div>
            <div id="news">
                {% for new in news %}
                    <a class="new" href="{{ new["url"] }}">
                            <div>
                                <h3>{{ new["title"] }}</h3>
                            </div>
                            <img src="{{new["img"]}}" alt="Imagen de la noticia">        
                    </a>
                {% endfor %}                
            </div>
        </section>
        <div id="division"></div>
        <section id="container-remember">
            <div id="container-form">
                <h2>Recordatorios</h2>
                <p>¿Que deseas recordar?</p>
                <form id="form-reminder" action="/" method="post">
                    <span style="color: rgb(189, 0, 0); font-weight: 400;">{{ error }}</span>
                    <label class="input">
                        Recordar:
                        <input autocomplete="off" type="text" name="reminder" placeholder="Tomar medicamento">
                    </label>
                    <label class="input">
                        ¿Cuando?:
                        <input type="date" name="date">
                    </label>
                    <button type="submit">Guardar</button>
                </form>
                <a class="more" href="/recordatorios">Ver mas!>></a>
            </div>
            <div id="container-reminders">
                <ul id="list-reminders">
                    
                    {% if not reminders %}

                    <li class="reminder">
                        <span>No hay recordatorios, agrega uno!</span>
                    </li>

                    {% else %}

                        {% if reminders|length <= 5 %}
                            {% for reminder in reminders %}
                            
                                <li class="reminder">
                                    <span>{{ reminder[1] }}</span>
                                    <span class="date-reminder">{{ reminder[2] }}</span>
                                    <button>Eliminar</button>
                                </li>

                            {% endfor %}
                        {% else %}

                            {% for n in range(0, 5) %}
                            
                                <li class="reminder">
                                    <span>{{ reminders[n][1] }}</span>
                                    <span class="date-reminder">{{ reminders[n][2] }}</span>
                                    <button>Eliminar</button>
                                </li>

                            {% endfor %}                            
                            
                        {% endif %}
                    {% endif %}

                </ul>
            </div>
        </section>
    </main>
{% endblock %}