<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/styles.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/647ed99f90.js" crossorigin="anonymous"></script>

    {% block title %}
    {% endblock %}

</head>
<body>
    <header>
        <nav>
            <ul class="navbar">
                <a id="home-button" href="/">
                    <img id="logo" src="../static/img/orbe-logo.png" alt="Logo">
                    <span>Edad de Oro</span>
                </a>
                <li class="toggle"><a href="#"><i class="fa-solid fa-bars" style="color: #c99e26;"></i></a></li>
                <li class="item"><a class="link" href="#container-about">Sobre nosotros<span class="underline"></span></a></li>
                <li class="item"><a class="link" href="/noticias">Noticias<span class="underline"></span></a></li>
                <li class="item"><a class="link" href="/recordatorios">Recordatorios<span class="underline"></span></a></li>
                <li class="item"><a class="link" id="logout" href="/logout">Cerrar Sesion</a></li>
            </ul>
        </nav>
    </header>

    {% block body %}
    {% endblock %}

    <footer>
        <div id="container-contact">
            <div id="contact">
                <a href="https://github.com/TimmyElTaco"><i class="fa-brands fa-github contact-link"></i></a>
                <a href="https://twitter.com/TimmyElTaco"><i class="fa-brands fa-x-twitter contact-link"></i></a>
                <a href="mailto:albertpatrsu@gmail.com"><i class="fa-solid fa-envelope contact-link"></i></a>
            </div>
        </div>        
        <p style="color: var(--white);">Creador por: <span class="strong-gradient">Alberto Guzman</span></p>        
        <div id="resources">
            <a class="resources-link" href="https://newsapi.org/">API</a>
            <a class="resources-link" href="https://www.freepik.es/">Imagenes</a>
            <a class="resources-link" href="https://www.bing.com/search?q=Bing+AI&showconv=1&FORM=hpcodx">Logo</a>
            <p>Tecnologias:</p>
            <a id="css" href="https://www.w3.org/Style/CSS/"><i class="fa-brands fa-css3-alt"></i></a>
            <a id="html" href="https://www.w3.org/html/"><i class="fa-brands fa-html5"></i></a>
            <a id="python" href="https://www.python.org/"><i class="fa-brands fa-python"></i></a>
            <a id="javascript" href="https://ecma-international.org/publications-and-standards/standards/ecma-262/"><i class="fa-brands fa-square-js"></i></a>
        </div>
    </footer>
    <script>
        const navbar = document.querySelector('.navbar');
        let prevScrollPos = window.scrollY;

        let opacity = 1;
        window.addEventListener('scroll', () => {
            const currentScrollPos = window.scrollY;

            if (prevScrollPos > currentScrollPos) {
                opacity = 1;
                navbar.style.opacity = opacity;
            } else {
                opacity -= 0.1;
                navbar.style.opacity = opacity;
            }

            prevScrollPos = currentScrollPos;
        });
    
        const toggle = document.querySelector(".toggle");
        
        function toggleMenu() {
            if (navbar.classList.contains("active")) {
                navbar.classList.remove("active");
                toggle.querySelector("a").innerHTML = '<i class="fa-solid fa-bars" style="color: #c99e26;"></i>';
            } else {
                navbar.classList.add("active");
                toggle.querySelector("a").innerHTML = '<i class="fa-solid fa-xmark" style="color: #c99e26;"></i>';
            }
        }

        toggle.addEventListener('click', toggleMenu);
        

    </script>
</body>
</html>