<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/styles.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/647ed99f90.js" crossorigin="anonymous"></script>
    {% block title %}
    
    {% endblock %}
</head>
<body id="body-login">
    <nav class="navbar">
        <div id="home-button">
            <img id="logo" src="../static/img/orbe-logo.png" alt="Logo">
            <span>Edad de Oro</span>
        </div>
    </nav>
    <div id="container-sentence">
        <div id="container-info-login">        
            <div class="login" id="info-login">
                <div id="container-info">
                    <h2>¿Por qué unirte?</h2>
                    <p>
                        En <span>Edad de Oro</span>, estamos comprometidos a brindar apoyo y asistencia a nuestros queridos ancianos. 
                        Nuestra misión es facilitar este proceso, ofreciendo:
                    </p>
                    <p>
                        - Recordatorios: Olvídate de perder citas médicas, eventos importantes o tratamientos. 
                    </p>
                    <p>
                        - Información Relevante: Accede a valiosa información sobre salud, bienestar y consejos útiles para una vida activa y feliz.
                    </p>
                    <p>
                        ¡Únete a nosotros!
                    </p>
                </div>
            </div>
            <div class="login" id="form-login">
                {% block form %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>