{% extends "layout-form.html" %}

{% block title %}
    <title>Iniciar Sesion</title>
{% endblock %}

{% block form %}
    <div id="container-login">
        <div>
            <h2>Inicia sesion</h2>
            <div class="line"></div>
            <span style="color: rgb(189, 0, 0);">{{ error }}</span>
        </div>
        <form action="/login" method="post">
            <div class="input">
                <input type="email" name="email" id="email" placeholder="Email" autocomplete="off">
            </div>
            <div class="input">
                <input type="password" name="password" id="password" placeholder="Contraseña">
            </div>
            <p>Si aun no estas registrado te invitamos a crear una cuenta, solo tienes que presionar <a href="/register">aqui</a>.</p>
            <button type="submit">Enviar</button>
        </form>
    </div>
{% endblock %}