{% extends "layout-form.html" %}

{% block info %}

    <div id="container-info">
        <h2>¿Por qué unirte?</h2>
        <p>
            En <span>Edad de Oro</span>, estamos comprometidos a brindar apoyo y asistencia a nuestros queridos ancianos. 
            Nuestra misión es facilitar este proceso, ofreciendo:
        </p>
        <p>
            - Recordatorios: Olvídate de perder citas médicas, eventos importantes o tratamientos. 
        </p>
        <p>
            - Información Relevante: Accede a valiosa información sobre salud, bienestar y consejos útiles para una vida activa y feliz.
        </p>
        <p>
            ¡Únete a nosotros!
        </p>
    </div>
{% endblock %}

{% block form %}
    <div id="container-login">
        <div>
            <h2>Inicia sesion</h2>
            <div class="line"></div>
        </div>
        <form action="/login" method="post">
            <div class="input">
                <input type="email" name="email" id="email" placeholder="Email" autocomplete="off">
            </div>
            <div class="input">
                <input type="password" name="password" id="password" placeholder="Contraseña">
            </div>
            <p>Si aun no estas registrado te invitamos a crear una cuenta, solo tienes que presionar <a href="register.html">aqui</a>.</p>
            <button type="submit">Enviar</button>
        </form>
    </div>
{% endblock %}