{% extends "layout-form.html" %}

{% block title %}
    <title>Registrarte</title>
{% endblock %}

{% block form %}
    <div id="container-login">
        <div>
            <h2>Registrate</h2>
            <div class="line"></div>
            <span style="color: rgb(189, 0, 0); display: none">{{ error }}</span>
        </div>
        <form action="/register" method="post">
            <div class="input">
                <input type="text" name="name" id="name" placeholder="Nombre completo">
            </div>
            <div class="input">
                <input type="email" name="email" id="email" placeholder="Email">
            </div>
            <div class="input">
                <input type="password" name="password" id="password" placeholder="Contraseña">
            </div>
                <div class="input">
                <input type="password" name="confirmation" id="confirmation" placeholder="Confirmacion">
            </div>
            <div class="input">
                <input type="text" name="country" id="country" placeholder="Pais">
            </div>
            <p>Si ya tienes una cuenta puedes ir <a href="/login">aqui</a>.</p>
            <button type="submit">Enviar</button>
        </form>
    </div>
{% endblock %}